@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap");

/* color-palatte:
#222831
#393E46
#00ADB5
#EEEEEE */

* {
  box-sizing: border-box;
  margin: 0;
  padding; 0;
}

body {
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
  background: #ebe8e4;
}

.sub {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #ebe8e4; */
}

.menu {
  display: flex;
  width: 50rem;
  text-decoration: none;
  border-bottom: 3px solid #222831;
}
.menu_text {
  font-size: 100px;
  font-weight: 800px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Kanit", sans-serif;
  color: transparent;
  -webkit-text-stroke: 3px #222831;
}
.menu:hover .menu_text {
  color: #222831;
  cursor: pointer;
  transition: 400ms ease;
}
/* .menu::after {
  content: attr(data-text);
  position: absolute;
  color: #222831;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: clip-path 400ms ease;
} */
.arrow-right {
  width: 100px;
  margin-left: 20px;
  transform: translateX(-35%);
  opacity: 0;
  transition: transform 250ms ease-out, opacity 100ms ease-out;
}
.menu:hover .arrow-right {
  transform: translateX(0%);
  opacity: 1;
}